*{
    margin: 0;
    padding: 0;
    border: 0;
}


.cad_pet,.bus_cliente,.bus_pet,.marketplace,.bus_consulta,.agenda_consulta,.marketplace,.cad_cliente{
    position: absolute;
    top: 100px;
    left: 450px;
    background-color: grey;
    width: 150px;
    height:150px;
    border-radius: 15px;
}

.cad_pet{
    left: 650px;
}

.bus_cliente,.bus_pet,.marketplace,.bus_consulta    {
    top: 300px;
}

.bus_pet{
    left: 650px;
}

.bus_consulta{
    left:850px;
}

.agenda_consulta{
    left: 850px;
}

.marketplace{
    top: 500px;
    left: 650px;
}

.config{
    position: absolute;
    top:10px;
    right: 15px;
    width: 50px;
}