* {
    margin: 0;
    padding: 0;
    border: 0;
}

.top-buttons,
.middle-buttons,
.bottom-buttons {
    top: 100px;
    left: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    
}

#cad_fun,
#cad_cli,
#cad_pet,
#cad_ser,
#fun,
#cli,
#pet,
#ser,
#estoque {
    width: 150px;
    height: 150px;
    background-color: #99c5ff;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 1%;
}

#cad_cli {
    left: 200px;
}

#cad_pet {
    left: 400px;
}

#cad_ser {
    left: 600px;
}

.middle-buttons {
    top: 280px;
}

#cli {
    left: 200px;
}

#pet {
    left: 400px;
}

#ser {
    left: 600px;
}

.bottom-buttons {
    top: 450px;
}

#estoque {
    left: 300px;
}

#back {
    top: 10px;
    width: 50px;

}

#ajustes {
  display: flex;
  justify-content: end;
  width: 15%;
  padding: 5px;
}