body{
    background-color: aqua;
}
.form{
    width: 300px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 10%;
    position:absolute;
    top: 150px;
    left: 593.6px;
}

.label_user,.label_pass{
    position: absolute;
    top:100px;
    left: 30px;
}
#pass{
    top: 120px;
}
.input_user,.input_pass{
    position: absolute;
    top: 100px;
    left: 95px;
    width: 150px;
    height: 15px;
    margin-bottom: 10px;
    border-top: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#pass{
    top: 120px;
}
.input_pass{
    border-left: none;
    margin-left: 15px;
}

.input_user{
    border-left: none;
    margin-left: 10px;
}

:hover.input_user{
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}
:hover.input_pass{
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}

.bnt_login{
    position: absolute;
    bottom: 35px;
    right: 35px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

:hover.bnt_login{
    color: blue;
    border: 2px solid blue;
    cursor: pointer;
}

.logo{
    margin: 0;
    padding: 0;
    width:100px;
}

.txt_login{
    position: absolute;
    left:20px;
}