* {
    margin: 0;
    border: 0;
    padding: 0;
}

.form {
    position: absolute;
    top: 200px;
    left: 565.4px;
    width: 350px;
    height: 250px;
    background-color: #5cafff;
    border-radius: 10px;
}

#login {
    position: absolute;
    top: 15px;
    left: 134.981px;
}

#label_name,
#label_password {
    position: absolute;
    font-weight: bold;
    top: 80px;
    left: 45px;
    font-size: 16px;
}

#label_password {
    top: 120px;
    left: 49px;
}

#name {
    position: absolute;
    top: 82px;
    left: 130px;
    border-radius: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

#password {
    position: absolute;
    top: 122px;
    left: 130px;
    border-radius: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#forgot_password {
    position: absolute;
    top: 220px;
    left: 110px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

#bnt_login {
    position: absolute;
    top: 170px;
    right: 40px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

#bnt_login:hover {
    background-color: #8c8c8c;
}

#name:hover {
    background-color: #e8e8e8;
    border-right: 2px solid #000e7b;
    border-bottom: 2px solid #000e7b;
}

#password:hover {
    background-color: #e8e8e8;
    border-right: 2px solid #000e7b;
    border-bottom: 2px solid #000e7b;
}