*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
}
.navbar{
    width: 100%;
    height: 90px;
    background-color: black;
}

.bnt_login{
    position:absolute;
    left: 1260px;
    top: 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.btn_cad{
    position: absolute;
    left: 850px;
    top: 490px;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px 30px;
    background: #1b6dd8;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.5s;
}

.p1{
    position:absolute;
    left: 850px;
    top: 200px;
    width: 350px;
    height: 250px;
}
.dog{
    position:absolute;
    top: 200px;
    left: 250px;
    width: 450px;
    height: 350px;
    border-radius: 10%;
}

.logo{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 220px;
}

:hover.bnt_login{
    color: grey;
}
:hover.btn_cad{
    color: grey;
}