* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #dff6ff;
}

.navbar {
    display: flex;
    width: 99vw;
    height: 15vh;
    background-color: rgb(4, 32, 84);
    justify-content: flex-end;
    align-items: center;
}

.section-0 {
    display: flex;
    margin-right: 5vw;
}

#logo {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 5vw;
}

#login,
#cadastro {
    color: #ff9f29;
    text-decoration: none;
    font-size: 26px;
}

#cadastro {
    margin-right: 2vw;
}
#login:hover,#cadastro:hover{
    color: white;
}
.section-1 {

    display: flex;
    justify-content: center;
    width: 99vw;
    height: 85vh;
    background-color: #47b5ff;
}
#tit_sobre{
    position: absolute;
    left: 43%;
}
.section-2 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99vw;
}

.section-2_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}

#img1 {
    width: 32vw;
    border-radius: 15px;
    margin-top: 50px;
}

#txt1 {
    width: 35vw;
    height: 35vh;
    margin-top: 13%;
    margin-right: 15%;
}

#img2 {
    width: 30vw;
    border-radius: 15px;
    padding: 2%;
    margin-right: 15%;
}

#txt2 {
    width: 35vw;
    height: 35vh;
    margin-left: 10%;
}

.section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #47b5ff;
    width: 99vw;
    height: 100vh;
}
#tit_planos{
    position: absolute;
    left: 43%;
}
.section-3_1 {
    width: 20vw;
    height: 60vh;
    background-color: #ff9f29;
    margin: 2%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    box-shadow: -1px -1px 2px black;
}

#basico{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}
#intermediario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}
#avancado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}
.img_planos{
    border-radius: 50%;
    padding-bottom: 3%;
}
.tit_planos{
    padding-bottom: 3%;
    text-align: justify;
}
.txt_planos{
    padding-bottom: 13%;
}
.bnt_planos{
    width: 40%;
    height: 30px;
    border-radius: 15px;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}
.bnt_planos:hover{
    background-color: #dff6ff;
}

/* .section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;
}
.section-4_1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30vw;
}

#img_s4_1,#img_s4_2,#img_s4_3,#img_s4_4,#img_s4_5,#img_s4_6{
    width: 33%;
} */

.section-5{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 99vw;
    height: 100vh;
}
.section-5_1{
    display: flex;
    width: 50vw;
    margin-top: 7%;
}
#atualizacao{
    border-radius: 15px;
    width: 30vw;
    padding-left: 20%;
}
#txt_att{
    width: 33vw;
    min-width: 200px ;
}
#tit_att{
    position: absolute;
    left: 40%;
}
.section-6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06283d;
    width: 99vw;
    height: 100px;
    color:#ff9f29
}