*{
    margin: 0;
    border: 0;
    padding: 0;
    
}

body{
    background-color: #f5fcff;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #000ab1;
}

#bnt_login,#bnt_cadastro{
    position:absolute;
    right: 130px;
    top: 35px;
    text-decoration: none;
    font-size: 26px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
}

#bnt_login{
    right: 310px;
}

#logo{
    position: absolute;
    top: 25px;
    left: 60px;
    width: 250px;
}

.p1{
    position: absolute;
    top: 170px;
    right: 200px;
    width: 550px;
    height: 350px;
}
.p2{
    position: absolute;
    top: 470px;
    left: 250px;
    width: 550px;
    height: 350px;
}
#img1{
    position: absolute;
    top: 140px;
    left: 250px;
    width: 400px;
    border-radius: 10px;
}

#img2{
    position: absolute;
    top: 365px;
    left: 850px;
    width: 400px;
    border-radius: 10px;
}

.destaque{
    position: absolute;
    top: 715px;
    width: 100%;
    height: 725px;
    background-color: #9ed0ff;
    z-index: -1;
}

#planos{
    position: absolute;
    top: 740px;
    left: 644.82px;
    text-decoration: none;
}

.plano_basico,.plano_intermediario,.plano_avancado{
    position: absolute;
    top: 900px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.plano_basico{
    left: 310.4px;
}
.plano_intermediario{
    left: 640.4px;
}
.plano_avancado{
    left: 970.4px;
}

.plano{
    position: absolute;
    top: 1120px;
    left: 380px;
}
#nome_intermediario{
    left: 685px;
}
#nome_avancado{
    left: 1030px;
}

.txt{
    position: absolute;
    top: 1150px;
    left: 335px;
    width: 150px;
    text-align: justify;
}
#txt2{
    left: 665px;
}
#txt3{
    left: 995px;
}
#color_txt1,#color_txt2,#color_txt3{
    position: absolute;
    top: 870px;
    left: 255px;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    background-color: #70b9ff;
    z-index: -1;
}
#color_txt2{
    left: 590px;
}
#color_txt3{
    left: 925px;
}
#valor_txt1,#valor_txt2,#valor_txt3{
    position: absolute;
    top: 1300px;
    left:370px;
    font-size: 20px;
}
#valor_txt2{
    left: 705px;
}
#valor_txt3{
    left: 1035px;
}

.bottom-conteiner{
    position: absolute;
    top: 1800px;
    width: 100%;
    height: 430px;
}
#atualizacoes{
    position: absolute;
    top: -320px;
    left: 604.85px;
}

.dashboard{
    position: absolute;
    top: -180px;
    left: 200px;
    width: 500px;
    border-radius: 15px;
}
.txt_atualizacoes{
    position: absolute;
    top: -140px;
    left: 800px;
    width: 400px;
    text-align: justify;
}
#copyright{
    position: absolute;
    top: 35px;
    left: 608.3px;
    font-size: 20px;
}
.foot-conteiner{
    position: absolute;
    top: 2155px;
    width: 100%;
    height: 100px;
    background-color: #9ed0ff;
}