* {
    margin: 0;
    padding: 0;
    border: 0;
}

.top-buttons,
.middle-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin-top: 1vh;
}
.top-buttons{
    margin-top: 20vh;
}
#cad_fun,
#cad_cli,
#cad_pet,
#cad_ser,
#fun,
#cli,
#estoque,
#ser{
    width: 150px;
    height: 150px;
    background-color: #99c5ff;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 1%;
}

#cad_cli {
    left: 200px;
}

#cad_pet {
    left: 400px;
}

#cad_ser {
    left: 600px;
}

.middle-buttons {
    top: 280px;
}

#cli {
    left: 200px;
}

#estoque {
    left: 400px;
}

#ser {
    left: 600px;
}

.bottom-buttons {
    top: 450px;
}

#back {
    top: 10px;
    width: 50px;

}

#ajustes {
  display: flex;
  justify-content: end;
  width: 15%;
  padding: 5px;
}